.block {
    text-align: center;

    &__icon {
        margin: 0px 0px 33px 0px;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        color: $gray;
        margin: 0px 0px 20px 0px;
    }

    &__text {
        font-size: 18px;
        line-height: 2;
        color: $gray-2;

        &--justify {
            text-align: justify;
            font-size: 16px;
            line-height: 30px;

            &::after {
                content: "";
                display: block;
                margin: 40px auto 0 auto;
                width: 50px;
                height: 1px;
                background-color: $gray-4;
            }
        }
    }

    @media (max-width: $xxl) {
        &__text {
            &--justify {
                &::after {
                    margin: 20px auto 0 auto;
                }
            }
        }
    }
}
