@import "../components/slider.scss";

.posts {
    background: $gray-3;
    padding: 120px 0 60px 0;

    &__body {
    }

    @media (max-width: $md) {
        padding: 60px 0 30px 0;

        .#{$carouselClassName} {
            &__dot {
                width: 20px;
                height: 20px;
            }
        }
    }

    @media (max-width: $sm) {
        padding: 30px 0 20px 0;
    }
}

.item-post {
    text-align: center;

    &__icon {
        margin: 0px 0px 35px 0px;
    }

    &__title {
        margin: 0px 0px 20px 0px;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        letter-spacing: 0.1em;
        color: $gray-5;

        span {
            font-weight: 300;
            color: $gray-2;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 34px;
        font-style: italic;
        color: $gray-2;
    }
}
