.shop {
    &__content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    &__item {
        padding: 0 0 50% 0;

        &--two-rows {
            grid-row: span 2;
        }

        &--two-cols {
            grid-column: span 2;
        }

        &-1 {
            order: 1;
        }
        &-2 {
            order: 2;
        }
        &-3 {
            order: 3;
        }
        &-4 {
            order: 4;
        }
        &-5 {
            order: 5;
        }
        &-6 {
            order: 6;
        }
        &-7 {
            order: 7;
        }
        &-8 {
            order: 8;
        }
    }

    &__footer {
        background-color: $black;
        padding: 75px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__btn {
        display: block;
        padding: 16px 55px;
        text-align: center;

        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: $white;

        border: 1px solid $white-2;
        transition: all 0.3s;

        &:hover {
            color: $black;
            background: $white;
            border: 1px solid $black;
        }
    }

    @media (max-width: $xl) {
        &__content {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        &__item {
            &-4 {
                order: 5;
            }
            &-5 {
                order: 6;
            }
            &-6 {
                order: 4;
            }
        }
    }

    @media (max-width: $md) {
        &__content {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(6, 1fr);
        }

        &__item {
            &-3 {
                order: 4;
            }
            &-4 {
                order: 5;
            }
            &-5 {
                order: 6;
            }
            &-6 {
                order: 3;
            }
        }

        &__footer {
            padding: 40px;
        }
    }
}
