$fontFamily: "Lato";
$minWidth: 320px;

$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1399px;

$gray: #4d4959;
$gray-2: #848789;
$gray-3: #f7f7f7;
$gray-4: #d7d7d7;
$gray-5: #353738;
$gray-6: #a9afb3;
$gray-7: #c8c8c8;
$gray-8: #d3d7d9;
$gray-9: #929292;
$green: rgba(100, 194, 158, 0.8);
$green-2: #64c29e;
$white: #fff;
$white-2: rgba(255, 255, 255, 0.49);
$black: #282f35;